h1 {
	color:  black;
	font-family: 'Prata', serif;
	font-weight: normal;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;

}

.header {
	margin: 20px 0px -10px 20px;
	width:  1000px;
	display: inline-block;
}


img {

	height: 300px;
	padding: 5px;
	display: block;
    float: left;
}

.images {
	width: 100%;
	/* display: inline-block; */
	margin-left: 15px;
}

a {
		text-decoration:none;
		color:  black;
}

iframe {
	width:  100%;
}

a:hover { 
    color: pink;
}

.pink:hover{
	color:  pink;
}